<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12"> -->
<!-- <h1>I'm in the html component</h1> -->
<!-- <app-servers></app-servers> -->
<!-- <div class='app-servers'></div> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-servers></app-servers> -->
<!-- <app-test></app-test> -->
<!-- <app-persons></app-persons> -->
<!-- <a [routerLink]="'server'">server</a> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-jqtest></app-jqtest> -->
<!-- <app-servicetest></app-servicetest> -->
<!-- <app-directive-test></app-directive-test> -->
<!-- <app-accountservice></app-accountservice> -->
<!-- <app-routingmain></app-routingmain> -->
<!-- <app-observable-test></app-observable-test> -->
<!-- <app-formappmain></app-formappmain> -->
<!-- <app-pipetest></app-pipetest> -->

<!-- <app-httpmain></app-httpmain> -->
<app-authmain></app-authmain>
<!-- </div>
  </div>
</div> -->
