<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-1">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form (ngSubmit)="onSubmit()" #authForm="ngForm" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email :</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        />
        <span class="help-desk" *ngIf="!email.valid && email.touched">
          Please provide valid email
        </span>
      </div>
      <div class="form-group">
        <label for="password">Password :</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          ngModel
          required
          minlength="6"
          #password="ngModel"
        />
        <span class="help-desk" *ngIf="!password.valid && password.touched">
          Please provide password
        </span>
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLogInMode ? "Log In" : "Sign Up" }}
        </button>
      </div>
      <div>
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
          Switch to {{ isLogInMode ? "Sign Up" : "Log In" }}
        </button>
      </div>
    </form>
  </div>
</div>
